{% extends 'base.html.j2' %}
{% block title %}State Dashboard{% endblock %}
{% block content %}
<h3>Montana</h3>
<table class='table table-hover table-responsive'>
    <thead>
        <th>Date</th>
        <th>New Cases</th>
        <th>Total Active</th>
        <th>Hospitalized</th>
        <th>Total Cases</th>
        <th>Total Recovered</th>
        <th>Total Deaths</th>
    </thead>
    <tbody>
    {% for entry in state.entries[:-5:-1] %}
        <tr>
            <td>{{ entry.date }}</td>
            <td>{{ entry.new_case }}</td>
            <td>{{ entry.total_active }}</td>
            <td>{{ entry.hospitalization_count }}</td>
            <td>{{ entry.total }}</td>
            <td>{{ entry.total_recovered }}</td>
            <td>{{ entry.total_deaths }}</td>
        </tr>
    {% else %}
        <tr><td colspan=4>No entries found</td></tr>
    {% endfor %}
    </tbody>
</table>
<hr />
<h3>Counties</h3>
<table class='table table-hover table-responsive'>
    <thead>
        <th>Name</th>
        <th>New Cases</th>
        <th>Total Active</th>
        <th>Hospitalized</th>
        <th>Total Cases</th>
        <th>Total Recovered</th>
        <th>Total Deaths</th>
    </thead>
    <tbody>
    {% for region in regions %}
        <tr>
            <td><a href="{{ url_for('region_dashboard', region_id=region.id) }}">{{ region.name_label }} County</a></td>
            <td>{{ region.entries[-1].new_case }}</td>
            <td>{{ region.entries[-1].total_active }}</td>
            <td>{{ region.entries[-1].hospitalization_count }}</td>
            <td>{{ region.entries[-1].total }}</td>
            <td>{{ region.entries[-1].total_recovered }}</td>
            <td>{{ region.entries[-1].total_deaths }}</td>
        </tr>
    {% else %}
        <tr><td colspan=4>No regions found</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
