{% extends 'base.html.j2' %}
{% block title %}User Dashboard{% endblock %}
{% block content %}
    <table class='table'>
        <thead>
            <th>Name</th>
            <th>Abbr</th>
            <th>Entry Count</th>
        </thead>
        <tbody>
        {% for region in subscriber.regions %}
            <tr>
                <td><a href="{{ url_for('region_dashboard', region_id=region.id) }}">{{ region.name_label }}</a></td>
                <td>{{ region.name_abbr }}</td>
                <td>{{ region.entries | length }}</td>
            </tr>
        {% else %}
            <tr><td colspan=3>No subscribed regions</td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
